.root {
  width: 100%;
  margin: 10px;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  position: absolute;
  left: 0;
  top: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background-color: lightblue;
  border: 2px solid skyblue;
  border-radius: 3px;
  opacity: 0.5;

  content: ' ';
}

.button {
  float: left;

  width: 26px;
  height: 26px;

  padding: 0;
  padding-bottom: 2px;

  color: #222;
  font-size: 24px;
  line-height: 0;

  pointer-events: auto; /* disableed in root element for ReactDOM.render() */
}

.downloadButton {
  composes: button;

  font-size: 20px;
  padding-top: 4px;
}

.startRecordingButton {
  composes: button;

  color: crimson;
}

.stopRecordingButton {
  composes: button;
}

.recordingBlinker {
  position: absolute;
  right: 0;

  color: crimson;
  font-size: 20px;

  animation-name: blink;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
